body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imgProducto {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: auto;
  max-width: 800px;
}

.alerta-success{
  background-color: #d1e7dd;
}
.alerta-danger{
  background-color: #f8d7da;
}
.alerta-info{
  background-color: #cfe2ff;
}
.alerta-warning{
  background-color: #fff3cd;
}